<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="app">
	<!-- 시트 사용건수 조회 -->
	<select id="selectList" parameterType="string" resultType="map">
		select cust_tel as called_number, local_no as agent_number, '025859901' as caller_number, 'ivr' as call_type,
			substr(rec_filename, 1, 8) || '/' || substr(rec_filename, 9, 2) || '/' || substr(rec_filename, 1, length(rec_filename)) as filename
			, to_char(rec_datm, 'YYYY-MM-DD HH24:MI:SS') as insert_date
		from tbl_record
		where 1=1
		<if test='from_date!=null and from_date!="" and to_date!=null and to_date!=""'>
			and rec_date between #{from_date} and #{to_date}
		</if>
		<if test='cust_tel!=null and cust_tel!=""'>
			and cust_tel like '%' || #{cust_tel} || '%'
		</if>
		order by rec_date asc
	</select>
	<!-- 녹취이력 count -->
	<select id="selectRecCount" parameterType="map" resultType="map">
		select count(*)::int as tot_cnt, ceil(count(*) / ${top_cnt}::float) as page_cnt
		from tbl_record
		where 1=1
		<if test='from_date!=null and from_date!="" and to_date!=null and to_date!=""'>
			and rec_date between #(from_date} and #{to_date}
		</if>
		<if test='cust_tel!=null and cust_tel!=""'>
			and cust_tel like '%' || #{cust_tel} || '%'
		</if>
	</select>
	<!-- 녹취이력 조회 -->
	<select id="selecRectList" parameterType="map" resultType="map">
		select (20-rownum+1) idx, *
		from (
			select 			
				ROW_NUMBER() OVER(order by rec_datm desc) as rownum
				, rec_seq, rec_start_time, rec_end_time, rec_call_time, local_no, user_id, user_name
				, case rec_inout
					when 'I' then 'IN'
					when 'O' then 'OUT'
					when 'L' then 'LOCAL'
					else ''
				  end as rec_inout
				, substr(rec_filename, 1, 8) || '/' || substr(rec_filename, 9, 2) || '/' || substr(rec_filename, 11, length(rec_filename)) as rec_filename
				, to_char(rec_datm, 'YYYY-MM-DD HH24:MI:SS') as rec_datm, rec_keycode	
			from tbl_record
			where 1=1
			<if test='from_date!=null and from_date!="" and to_date!=null and to_date!=""'>
				and rec_date between #(from_date} and #{to_date}
			</if>
			<if test='cust_tel!=null and cust_tel!=""'>
				and cust_tel like '%' || #{cust_tel} || '%'
			</if>
			order by rec_datm desc
			limit 20 offset 0				
		) U								
	</select>
</mapper>